.img{
    position:fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index:-1;
}
.reactClock{
    position:fixed;
    right:100px;
    top:50px
}
.code{
    position:fixed;
    left:100px;
    .line{
        height: 40px;
        width: 20px;
        border-left: dashed 1px red;
        margin-left: 15px;
    }   
}